<!DOCTYPE html>
<html xmlns:th="http://w3.org/1999/xhtml">

<head th:replace="common/header :: common-header">
<title>Page titles</title>
</head>

    <body class="page-login">
     	      <main class="page-content">
            <div class="page-inner">
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-md-4 center">
                            <h1 class="text-xxl text-primary text-center">500</h1>
                            <div class="details">
                                <h3>Oops ! Something went wrong</h3>
                                <p>System failed, Please contact the IT for support. Return <a th:href="@{/dashboard}">Home</a> </p>
                            </div>
                        </div>
                    </div><!-- Row -->
                </div><!-- Main Wrapper -->
            </div><!-- Page Inner -->
        </main><!-- Page Content -->
        
        <div th:replace="common/header :: body-bottom-scripts" ></div>
       
    </body>
</html>